{% extends 'base.html.twig' %}


{% block title %}Hello IndexController!
{% endblock %}

{% block navbar %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="bg-success-subtle p-5">
		<h1>Articles</h1>
		<ul>
			{% for article in articles %}
				<li>
					<h3>
						Titre :
						{{article.title|capitalize}}
					</h3>
					<h5>
						Catégorie :
						{{article.category.name|capitalize}}
					</h5>
				</li>
			{% else %}
				<p>
					There's no articles in our database, cap'tain.
				</p>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
