{% extends 'base.html.twig' %}


{% block title %}Hello IndexController!
{% endblock %}

{% block navbar %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Articles</h1>
		<ul>
			{% for article in articles %}
				<li>
					<h3>
						Titre :
						{{article.title|capitalize}}
					</h3>
					<h5>
						Catégorie :
						{{article.category.name|capitalize}}
					</h5>
				</li>
			{% else %}
				<p>
					There's no articles in our database, cap'tain.
				</p>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
